@use "enterInformation.scss";

:deep(.login-input) {
  height: 56px;
  border: 1px solid #1489CC;
  border-radius: 4px;
  --el-border-color: none;

  .el-input__wrapper {
    background: inherit;
    box-shadow: none !important;

    .el-input__inner {
      color: white;

      &::-webkit-input-placeholder {
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #17A1E6;
      }
    }
  }

  .el-input-group__prepend {
    background: inherit;
    position: relative;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      width: 2px;
      height: 20.4px;
      position: absolute;
      right: 0;
      background-color: #0071D4;
    }
  }
}

:deep(.login-button) {
  width: 100%;
  height: 52px;
  background: #1ADCFF;
  border-radius: 4px;

  span {
    font-size: 24px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #02389B;
    line-height: 38px;
  }
}



:deep(.footer-button) {
  border: none;
  width: 100%;
  height: 52px;
  background: #1ADCFF;
  border-radius: 3px;

  span {

    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #02389B;
    line-height: 25px;
  }
}